In [7]:
import pandas as pd
import numpy as np
import pymysql                      
from sqlalchemy import create_engine  
from getpass import getpass

In [8]:
password = getpass()

 ········

In [67]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [68]:
data = pd.read_sql_query('SELECT * FROM sakila.rental', engine)
data.head() 
data.columns

Index(['rental_id', 'rental_date', 'inventory_id', 'customer_id',
       'return_date', 'staff_id', 'last_update'],
      dtype='object')

In [134]:
def rentals_month(engine,x,y):
    conn = engine.connect()
    query = f"""
        SELECT *
        FROM rental 
        WHERE MONTH(rental_date) = {x} AND YEAR(rental_date) = {y};
    """
    data = pd.read_sql_query(query, conn)
    data1 = pd.DataFrame(data)
    conn.close()
    return data1

rentals_month(engine, 5, 2005)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
1151,1153,2005-05-31 21:36:44,2725,506,2005-06-10 01:26:44,2,2006-02-15 21:30:53
1152,1154,2005-05-31 21:42:09,2732,59,2005-06-08 16:40:09,1,2006-02-15 21:30:53
1153,1155,2005-05-31 22:17:11,2048,251,2005-06-04 20:27:11,2,2006-02-15 21:30:53
1154,1156,2005-05-31 22:37:34,460,106,2005-06-01 23:02:34,2,2006-02-15 21:30:53
1155,1157,2005-05-31 22:47:45,1449,61,2005-06-02 18:01:45,1,2006-02-15 21:30:53

In [135]:
def rental_count_month(engine,x,y):
    conn = engine.connect()
    query = f"""
        SELECT COUNT(rental_id) AS rentals_{x}_{y}, customer_id
        FROM rental 
        WHERE MONTH(rental_date) = {x} AND YEAR(rental_date) = {y}
        GROUP BY customer_id;
    """
    data = pd.read_sql_query(query, conn)
    data1 = pd.DataFrame(data)
    conn.close()
    return data1

rental_count_month(engine, 5, 2005)

     rentals_5_2005  customer_id
0                 2            1
1                 1            2
2                 2            3
3                 3            5
4                 3            6
..              ...          ...
515               4          594
516               1          595
517               6          596
518               2          597
519               1          599

[520 rows x 2 columns]

In [137]:
def campare_rental(engine, x1, y1, x2, y2):
    data1= rental_count_month(engine,x1,y1)
    data2= rental_count_month(engine,x2,y2)
    query = f""" 
        d1.customer_id, d1.rentals_{x1}_{y1}, d2.rentals_{x2}_{y2}, 
        FROM {data1} d1
        JOIN {data2} d2 
        ON d1.customer_id = d2.customer_id;
    """
    data = pd.read_sql_query(query, engine)
    return data
campare_rental(engine, 0o5,2005,0o6,2005)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'd1.customer_id, d1.rentals_5_2005, d2.rentals_6_2005, \n        FROM      rentals' at line 1")
[SQL:
        d1.customer_id, d1.rentals_5_2005, d2.rentals_6_2005,
        FROM      rentals_5_2005  customer_id
0                 2            1
1                 1            2
2                 2            3
3                 3            5
4                 3            6
..              ...          ...
515               4          594
516               1          595
517               6          596
518               2          597
519               1          599

[520 rows x 2 columns] d1
        JOIN      rentals_6_2005  customer_id
0                 7            1
1                 1            2
2                 4            3
3                 6            4
4                 5            5
..              ...          ...
585               2          595
586               2          596
587               3          597
588               1          598
589               4          599

[590 rows x 2 columns] d2
        ON d1.customer_id = d2.customer_id;
    ]
(Background on this error at: https://sqlalche.me/e/20/f405)